/* Start form log in */
.ctmodal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.ctmodal-content-signin {
    background-color: #fefefe;
    margin: 2% auto 0 auto;
    border: 1px solid #888;
    max-width: 400px;
    width: 90%;
}

.ctmodal-content-signup {
    background-color: #fefefe;
    margin: 2% auto 0 auto;
    border: 1px solid #888;
    max-width: 450px;
    width: 90%;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.ctcontainer {
    padding: 16px;
}

.ctcontainer input {
    margin: 8px 0;
}

.btn-ct {
    margin: 20px 0;
}

.cancel {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
/* End form log in */

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Start footer */
.footer-wrapper{
    padding:20px 0px;
    display:block;
}

.copyright{
    text-align:right;
}
.copyright p{
    font-size: 1.125rem;
    margin-bottom: 1px;
    padding: 20px 0px;
}
.copyright p i{
    color:#ff0000;
}.copyright p a{
    color:#32E10A;
}
/* End footer */

/* Start Accordion */
.ctaccordion {
    background-color: #222;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 100%;
    border: 1px solid #ffcccc;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.ctactive, .ctaccordion:hover {
    background-color: #00b900;
}

.ctaccordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.ctactive:after {
    content: "\2212";
}

.ctpanel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
/* End Accordion */

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.bodyaffix {
    top: 80px;
    width: 100%;
    z-index: 9999 !important;
}

.font-logo {
    font-family:"Segoe UI",Arial,sans-serif;
}

#scrolltop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#scrolltop:hover {
  background-color: #00b900;
}

.cthightlight {
    background-color: #222;
    color: #fff;
}